In [4]:
import json
import pandas as pd

In [5]:
def load_data(data_path):
    if data_path.endswith('.json'):
        with open(data_path, 'r',encoding='utf-8') as f:
            data = json.load(f)
    elif data_path.endswith('.jsonl'):
        data = []
        with open(data_path, 'r') as f:
            data = [json.loads(line) for line in f]
    elif data_path.endswith('.tsv'):
        data = pd.read_csv(data_path, sep='\t')
    else:
        data = None
    return data

def save_json(json_path, data):
    if json_path.endswith('.jsonl'):
        with open(json_path, 'w', encoding='utf-8') as f:
            for d in data:
                json_line = json.dumps(d, ensure_ascii=False)
                f.write(json_line + '\n')
    elif json_path.endswith('.json'):
        with open(json_path, 'w',encoding='utf-8') as f:
            json.dump(data, f, ensure_ascii=False,indent=4)
    else:
        print('json_path must endswith .json or .jsonl')
    print(f'save {json_path} done!')

In [6]:
data_path = '/data02/zhaop-l/code/VLMEvalKit/LMUData/MMMU_DEV_VAL.tsv'
data = load_data(data_path)
data.head(2)

,id,index,question,split,A,B,C,D,answer,topic_difficulty,...,explanation,image,image_path,E,F,G,H,I,category,l2-category
0,dev_Accounting_1,1,Each of the following situations relates to a ...,dev,"$63,020","$58,410","$71,320","$77,490",D,Easy,...,NaN,['/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...,['1_1.jpg'],NaN,NaN,NaN,NaN,NaN,Business,Accounting
1,dev_Accounting_2,2,Here are facts for the Hudson Roofing Company ...,dev,"$171,900","$170,000","$172,500","$181,900",A,Easy,...,NaN,['/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...,['2_1.jpg'],NaN,NaN,NaN,NaN,NaN,Business,Accounting

In [18]:
data.loc[data['id']=='validation_Agriculture_26']

,id,index,question,split,A,B,C,D,answer,topic_difficulty,...,explanation,image,image_path,E,F,G,H,I,category,l2-category
65,validation_Agriculture_26,733,"<image 1> What group of pathogens, often mista...",validation,I don't know and I don't want to guess,Nematodes,Fungi,Phytoplasmas,D,Easy,...,<image 2>The correct answer is:\nPhytoplasmas:...,['/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...,"['733_1.jpg', '733_2.jpg']",Bacteria,NaN,NaN,NaN,NaN,Tech & Engineering,Agriculture

In [8]:
images_list = data['image']
len(images_list)

1050

In [12]:
for i in images_list:
    if isinstance(i,list):
        print(i)
        break

In [13]:
a =[{'type': 'text', 'value': "<image 1> What group of pathogens, often mistaken for regrowth following glyphosate treatment, can cause a growth habit in blackberry plants that is near-identical to the 'little leaf' symptoms commonly witnessed post-glyphosate treatment?\nA. I don't know and I don't want to guess\nB. Nematodes\nC. Fungi\nD. Phytoplasmas\nE. Bacteria\nAnswer with the option's letter from the given choices directly."}, {'type': 'image', 'value': '/data02/zhaop-l/code/VLMEvalKit/LMUData/images/MMMU/733_1.jpg'}, {'type': 'image', 'value': '/data02/zhaop-l/code/VLMEvalKit/LMUData/images/MMMU/733_2.jpg'}]
a

[{'type': 'text',
  'value': "<image 1> What group of pathogens, often mistaken for regrowth following glyphosate treatment, can cause a growth habit in blackberry plants that is near-identical to the 'little leaf' symptoms commonly witnessed post-glyphosate treatment?\nA. I don't know and I don't want to guess\nB. Nematodes\nC. Fungi\nD. Phytoplasmas\nE. Bacteria\nAnswer with the option's letter from the given choices directly."},
 {'type': 'image',
  'value': '/data02/zhaop-l/code/VLMEvalKit/LMUData/images/MMMU/733_1.jpg'},
 {'type': 'image',
  'value': '/data02/zhaop-l/code/VLMEvalKit/LMUData/images/MMMU/733_2.jpg'}]